* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 89px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.top-name {
  align-self: center;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #000;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items a {
  float: left;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  padding: 8px;
  text-decoration: none;
}

.nav-items a:hover {
  background-color: rgb(150, 139, 139);
  color: black;
}

#navItems a {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

#navItem h3 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.active {
  background-color: rgb(231, 219, 219);
  color: black;
}

.icon {
  visibility: hidden;
}

.sec1about-me {
  align-self: flex-start;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 90px;
  color: #000;
  margin-left: 18%;
  padding: 20px;
}

.about-sec1,
.about-sec2,
.about-sec3 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.about_me-divs {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 64%;
  padding: 20px;
}

.about-sec1pic {
  width: 236px;
  height: 290px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./portfolio-assets/githup.jpg);
  padding: 100px;
}

.about-sec1text {
  padding-left: 20px;
}

.about-sec1text h4,
.about-sec2text h4 {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.about-sec1text p,
.about-sec2text p {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.p2 {
  padding-top: 10px;
}

.about-sec2pic {
  width: 236px;
  height: 290px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./portfolio-assets/letshego\ fridaypic.jpg);
  padding: 100px;
}

.about-sec3pic {
  width: 236px;
  height: 290px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./portfolio-assets/letshego\ pic.jpg);
  padding: 100px;
}

.sec4 {
  margin: 10px;
  padding-top: 20px;
}

.sec4line {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  border: 0.7px solid #000;
}

.sec4footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 13px;
  padding: 5px;
}

.copyright {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.handcraft {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-items a {
    display: inline-block;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-block: 2px;
    font-weight: 400;
    transition: all 0.7s ease-in-out;
  }

  .nav-items a:not(:last-child) { display: none; }

  .icon {
    visibility: visible;
  }

  .nav-items a.icon {
    float: right;
    display: block;
  }

  .nav-items.responsive { position: relative; }

  .nav-items.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-items.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .about-divs {
    display: flex;
    flex-direction: column;
  }

  .about_me-divs {
    display: flex;
    flex-direction: column;
  }

  .about-sec1text {
    padding-left: 0;
  }

  #column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
