* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .body{
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin-bottom: 0;
  }
  
  .header-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 89px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .top-name{
    align-self: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  
  .nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-items a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 8px;
    text-decoration: none;
  }

  .sec1about-me{
    align-self: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 90px;
    color: #000000;
    margin-left: 18%;
    padding: 20px;
  }

  .about-sec1,
  .about-sec2,
  .about-sec3{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }

  .about_me-divs{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 64%;
    padding: 20px;
  }

  .about-sec1pic{
    width: 236px;
    height: 290px;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;  
    background-image: url(./portfolio-assets/githup\ \(2\).jpg);
    padding: 100px;
  }

  .about-sec1text{
    padding-left: 20px;
  }

  .about-sec1text h4,
  .about-sec2text h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  .about-sec1text p,
  .about-sec2text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .p2{
    padding-top: 10px;
  }

  .about-sec2pic{
    width: 236px;
    height: 290px;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;  
    background-image: url(./portfolio-assets/letshego\ fridaypic.jpg);
    padding: 100px;
  }

  .about-sec3pic{
    width: 236px;
    height: 290px;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;  
    background-image: url(./portfolio-assets/letshego\ pic.jpg);
    padding: 100px;
  }

