* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .body{
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin-bottom: 0;
  }
  
  .header-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 89px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .top-name{
    align-self: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  
  .nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-items a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 8px;
    text-decoration: none;
  }
  
  .contact-sec1{
    margin-left: 18%;
    padding: 20px;
    height: 81vh;
  }

  h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 90px;
    color: #000000;
  }

  .contact-me p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }

  .contact-socials p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
  }

  .contact-socials a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0C07F2;
  }

  .sec2{
    margin-right: 3%;
  }

  .sec2line{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    border: 0.7px solid #000000;
  }

  .sec2footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
  }

  .copyright{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
  }

  .handcraft{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 5%;
  }
